.container {
  margin: 2rem;
  width: 500px;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 2rem auto;

  h1 {
    position: absolute;
    bottom: 0;
    color: var(--white);
    text-shadow: 1px 1px 10px black;
    font-weight: 200;
    text-transform: capitalize;
  }
  h3 {
    position: absolute;
    top: 1rem;
    font-size: 1rem;
    color: var(--white);
    text-shadow: 1px 1px 10px black;
    font-weight: 700;
    text-transform: capitalize;
  }

  .image {
    img {
      transition: opacity 1s;
    }
  }

  .hoveredImage {
    background-color: black;
    opacity: 0.3;
  }
}

@media (min-width: 0px) {
  .container {
    width: 300px;
    height: 302px;
  }
}

@media (min-width: 700px) {
  .container {
    width: 300px;
    height: 352px;

    h3 {
      font-size: 1.5rem;
    }

  }
}
